<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test miro.com">
    <test name="TestUI">
        <classes>
            <class name="com.miro.ui.tests.HomePageTest"/>
            <class name="com.miro.ui.tests.LoginPageTest"/>
        </classes>
    </test>
    <test name="TestAPI">
        <classes>
            <class name="com.miro.api.tests.CreateBoardTest"/>
            <class name="com.miro.api.tests.DeleteBoardTest"/>
        </classes>
    </test>
</suite>